<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><%= @ldpage.text01 %></a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <% if !current_user %>
          <li><%= link_to("注册", new_user_registration_path) %> </li>
          <li><%= link_to("登入", new_user_session_path) %></li>
        <% else %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Hi!, <%= current_user.email %>
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
                <li> <%= link_to("我的landing page", account_ldpages_path) %></li>
                <li class="divider"> </li>
                <li> <%= link_to("登出", destroy_user_session_path, method: :delete) %> </li>
            </ul>
          </li>
        <% end %>
      </ul>
    </div><!--/.navbar-collapse -->
  </div>
</nav>

    <!-- Main jumbotron for a primary marketing message or call to action -->
<% if @ldpage.image01.present? %>
  <div class="bgimage">
    <div class="container" style="text-align: center">
      <div class="pull-right">
        <%= link_to("修改landing page", edit_ldpage_path(@ldpage)) %>
      </div>
      <h1><%= @ldpage.text02 %></h1>
      <p><%= simple_format(@ldpage.text03) %></p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button"><%= @ldpage.text04 %></a></p>
    </div>
  </div>
<% else %>
  <div class="jumbotron">
    <div class="container" style="text-align: center">
      <div class="pull-right">
        <%= link_to("修改landing page", edit_ldpage_path(@ldpage)) %>
      </div>
      <h1><%= @ldpage.text02 %></h1>
      <p><%= simple_format(@ldpage.text03) %></p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button"><%= @ldpage.text04 %></a></p>
    </div>
  </div>
<% end %>

<div class="container" style="text-align: center">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <% if @ldpage.image02.present? %>
        <%= image_tag(@ldpage.image02.thumb.url) %>
      <% else %>
        <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
      <% end %>
      <h2><%= @ldpage.text05 %></h2>
      <p><%= @ldpage.text06 %></p>
    </div>
    <div class="col-md-4">
      <% if @ldpage.image03.present? %>
        <%= image_tag(@ldpage.image03.thumb.url) %>
      <% else %>
        <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
      <% end %>
      <h2><%= @ldpage.text07 %></h2>
      <p><%= @ldpage.text08 %></p>
   </div>
    <div class="col-md-4">
      <% if @ldpage.image04.present? %>
        <%= image_tag(@ldpage.image04.thumb.url) %>
      <% else %>
        <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
      <% end %>
      <h2><%= @ldpage.text09 %></h2>
      <p><%= @ldpage.text10 %></p>
    </div>
  </div>
  <hr>
</div>

<div class="container" style="text-align: center">
  <h2><%= @ldpage.text11 %></h2>
  <p><%= @ldpage.text12 %></p>
  <hr>
</div>

<div class="container" style="text-align: center">
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <% if @ldpage.image05.present? %>
        <%= image_tag(@ldpage.image05.thumb.url) %>
      <% else %>
        <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
      <% end %>
      <h2><%= @ldpage.text13 %></h2>
      <p><%= @ldpage.text14 %></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <% if @ldpage.image06.present? %>
        <%= image_tag(@ldpage.image06.thumb.url) %>
      <% else %>
        <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
      <% end %>
      <h2><%= @ldpage.text15 %></h2>
      <p><%= @ldpage.text16 %></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <% if @ldpage.image07.present? %>
        <%= image_tag(@ldpage.image07.thumb.url) %>
      <% else %>
        <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image" width="140" height="140">
      <% end %>
      <h2><%= @ldpage.text17 %></h2>
      <p><%= @ldpage.text18 %></p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
  <p><a class="btn btn-primary btn-lg" href="#" role="button"><%= @ldpage.text19 %></a></p>
  <hr>
</div>

<div class="container">
  <footer>
    <p><%= @ldpage.text20 %></p>
  </footer>
</div> <!-- /container -->
